<div class="container-fluid">
    <div class="no-gutter row">

        <div class="col-sm-8">
            <div class="no-gutter row">
                <div class="col-sm-12">
                    <div class="card mt-2">
                        <div class="card-boy">
                            <div class="min-block text-center">
                                <h1 class="blockname">Block 1</h1>
                                <div class="blocks"></div>
                                <ul class="blocksarea">
                                    <li class="active-block" (click)="LargeOpen3(largemodal3)"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card mt-2 mb-2">
                        <div class="card-boy">
                            <div class="min-block text-center">
                                <h1 class="blockname ">Block 2</h1>
                                <div class="blocks"></div>
                                <ul class="blocksarea">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mt-2 mb-2">
                        <div class="card-boy">
                            <div class="min-block text-center">
                                <h1 class="blockname ">Block 3</h1>
                                <div class="blocks"></div>
                                <ul class="blocksarea">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mt-2 mb-2">
                        <div class="card-boy">
                            <div class="min-block text-center">
                                <h1 class="blockname ">Block 4</h1>
                                <div class="blocks"></div>
                                <ul class="blocksarea">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div aria-multiselectable="true" class="accordion mt-2" id="accordion" role="tablist">

                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

                    <ngb-panel title="Search Options">


                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="float-right">

                                        <span class="  btn-primary sliderbtn-adj" (click)="LargeOpen2(largemodal2)"> New
                                            Block
                                        </span>
                                      
                                        <span class="  btn-primary sliderbtn-adj" (click)="LargeOpen1(largemodal1)">
                                            Modify Block </span>

                                    </span>
                                </div>
                            </div>
                            <form action="" class="row">
                                <div class="col-sm-12">
                                    <div class="floating-label">
                                        <select class="floating-select"
                                            onclick="this.setAttribute('value', this.value);" value="">
                                            <option value=""></option>
                                            <option value="1">Agent Name</option>
                                            <option value="2">Agent Name</option>
                                            <option value="3">Agent Name</option>

                                        </select>
                                        <span class="highlight"></span>
                                        <label>Agent</label>
                                    </div>
                                </div>
                               
                                <div class="col-sm-6">

                                    <div class="floating-label">
                                        <select class="floating-select"
                                            onclick="this.setAttribute('value', this.value);" value="">
                                            <option value=""></option>
                                            <option value="1"> Size </option>
                                            <option value="2">Size</option>
                                            <option value="3">Size</option>

                                        </select>
                                        <span class="highlight"></span>
                                        <label>Size </label>
                                    </div> 
                                </div>
                                <div class="col-sm-6">
                                    <div class="floating-label">
                                        <select class="floating-select"
                                            onclick="this.setAttribute('value', this.value);" value="">
                                            <option value=""></option>
                                            <option value="1">Empty</option>
                                            <option value="2">Full</option>
                                            <option value="3">All</option>

                                        </select>
                                        <span class="highlight"></span>
                                        <label>Type </label>
                                    </div> 
                                </div>
                               
                                <div class="col-sm-5">

                                    <div class="floating-label">
                                        <input class="floating-input" type="text" placeholder=" ">
                                        <span class="Color"></span>
                                        <label>Vsl</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">

                                    <div class="floating-label">
                                        <input class="floating-input" type="text" placeholder=" ">
                                        <span class="Color"></span>
                                        <label>Voy</label>
                                    </div>

                                </div>
                                <div class="col-sm-2 text-center">

                                    <a href="#" class="  btn-primary w100 btn-adj">
                                        <img src="../../assets/img/magnifier.png" alt="">
                                    </a>


                                </div>
                                <div class="col-sm-12">
                                    <div class="floating-label">
                                        <select class="floating-select"
                                            onclick="this.setAttribute('value', this.value);" value="">
                                            <option value=""></option>
                                            <option value="1">Empty</option>
                                            <option value="2">Full</option>
                                            <option value="3">All</option>

                                        </select>
                                        <span class="highlight"></span>
                                        <label>Empty/Full</label>
                                    </div>
 
                                </div>
                              
                                <div class="col-sm-6">

                                    <div class="floating-label">
                                        <input class="floating-input" type="text" placeholder=" ">
                                        <span class="Color"></span>
                                        <label>Wait From</label>
                                    </div>

                                    <a href="" class="btn btn-primary w100">Search</a>
                                </div>
                                <div class="col-sm-6">

                                    <div class="floating-label">
                                        <input class="floating-input" type="text" placeholder=" ">
                                        <span class="Color"></span>
                                        <label>To</label>
                                    </div>



                                    <a href="" class="btn btn-primary w100">Reset</a>
                                </div>
                            </form>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <nav ngbNav #nav="ngbNav" class="nav-tabs">
                                        <!-- <ul class="nav  nav-tabs nav-tabs-adj mt-0" id="myTab" role="tablist">
                                        <li class="nav-item mt-1" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" >UnAllocated</a>
                                        </li>
                                        <li class="nav-item mt-1" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" >Allocated</a>
                                        </li>
                                     
                                    </ul>  -->
                                        <ng-container ngbNavItem>
                                            <a ngbNavLink>UnAllocated</a>
                                            <ng-template ngbNavContent>



                                                <div class="">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Container No.</th>
                                                                <th>Size</th>
                                                                <th>Type</th>
                                                                <th>Agent</th>
                                                                <th>E/F</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </ng-template>
                                        </ng-container>
                                        <ng-container ngbNavItem>
                                            <a ngbNavLink>Allocated</a>
                                            <ng-template ngbNavContent>


                                                <div class="p-2">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Container No.</th>
                                                                <th>Size</th>
                                                                <th>Type</th>
                                                                <th>Agent</th>
                                                                <th>E/F</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>OOLU2222</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                            <tr>
                                                                <td>OOLU35648</td>
                                                                <td>40</td>
                                                                <td>RH</td>
                                                                <td>OOCL</td>
                                                                <td>EMPTY</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>


                                            </ng-template>
                                        </ng-container>

                                    </nav>
                                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                                </div>
                            </div>


                        </ng-template>
                    </ngb-panel>

                </ngb-accordion>

            </div><!-- accordion -->

        </div>
    </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<ng-template #largemodal2 let-modal>
    <!-- BASIC MODAL -->
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Add block </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Block Name"></span>
                    <label>Block Name</label>
                </div>
            </div>


            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Rows"></span>
                    <label>Enter Rows</label>
                </div>
            </div>
            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Columns"></span>
                    <label>Enter Columns</label>
                </div>

            </div>
            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Stack Code"></span>
                    <label>Enter Stack Code</label>
                </div>

            </div>
            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Size"></span>
                    <label>Enter Size</label>
                </div>

            </div>


            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Type"></span>
                    <label>Enter Type</label>
                </div>


            </div>


            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Color"></span>
                    <label>Enter Color</label>
                </div>


            </div>
            <div class="col-sm-6 align-self-center ">

                <div class="floating-label">
                    <select class="floating-select" onclick="this.setAttribute('value', this.value);" value="">
                        <option value=""></option>
                        <option value="1">Empty</option>
                        <option value="2">Full</option>
                        <option value="3">All</option>

                    </select>
                    <span class="highlight"></span>
                    <label>Status</label>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn ripple btn-primary" type="button">Save</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template>




<ng-template #largemodal1 let-modal>
    <!-- BASIC MODAL -->
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Edit Block </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Block Name"></span>
                    <label>Block Name</label>
                </div>
            </div>


            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Rows"></span>
                    <label>Enter Rows</label>
                </div>
            </div>
            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Columns"></span>
                    <label>Enter Columns</label>
                </div>

            </div>
            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Stack Code"></span>
                    <label>Enter Stack Code</label>
                </div>

            </div>
            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Size"></span>
                    <label>Enter Size</label>
                </div>

            </div>


            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Type"></span>
                    <label>Enter Type</label>
                </div>


            </div>


            <div class="col-sm-6 align-self-center">
                <div class="floating-label">
                    <input class="floating-input" type="text" placeholder=" ">
                    <span class="Color"></span>
                    <label>Enter Color</label>
                </div>


            </div>
            <div class="col-sm-6 align-self-center ">

                <div class="floating-label">
                    <select class="floating-select" onclick="this.setAttribute('value', this.value);" value="">
                        <option value=""></option>
                        <option value="1">Empty</option>
                        <option value="2">Full</option>
                        <option value="3">All</option>

                    </select>
                    <span class="highlight"></span>
                    <label>Status</label>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn ripple btn-primary" type="button">Save</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template>






<ng-template #largemodal3 let-modal>
    <!-- BASIC MODAL -->
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Block Info </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        Block info Goes here
    </div>
    <div class="modal-footer">
        <button class="btn ripple btn-primary" type="button">Save</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template>