
<section class="bodysection">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12">
  
  <div class="page-header_head">
    <div>
  
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item " ><a href="javascript:;">Freight</a></li>
            <li class="breadcrumb-item active" aria-current="page">unbilled orders </li>
        </ol>
    </div>
  
  </div>
  
  <mat-card>
      <mat-card-header>
        <mat-card-title>
        Unbilled Order
          
          

      
        </mat-card-title>
         
      </mat-card-header>
      <mat-card-content>


      
        <div class="row">
            <div class="col-md-4">
                <mat-form-field  appearance="standard">
                    <mat-label>CUSTOMER</mat-label>
                    <input matInput  >
                  </mat-form-field>
             
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>
                        JOB TYPE
                        </mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of filtered" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>FILTER DATE BY</mat-label>
                    <input matInput [matDatepicker]="filter">
                    <mat-datepicker-toggle matSuffix [for]="filter"></mat-datepicker-toggle>
                    <mat-datepicker #filter></mat-datepicker>
                  </mat-form-field>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field  appearance="standard">
                    <mat-label>VESSEL ID</mat-label>
                    <input matInput  >
                  </mat-form-field>
             
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>
                       
                            JOB CATEGORY
                        </mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of catogery" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>FROM</mat-label>
                    <input matInput [matDatepicker]="from">
                    <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                    <mat-datepicker #from></mat-datepicker>
                  </mat-form-field>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>
                       
                        CHARGE CODE
                        </mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of charge" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>
                       
                       MODULE
                        </mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of module" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>TO</mat-label>
                    <input matInput [matDatepicker]="to">
                    <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                    <mat-datepicker #to></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field  appearance="standard">
                    <mat-label>CONTAINER NO.</mat-label>
                    <input matInput  >
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field  appearance="standard">
                    <mat-label>CUSTOMER REF</mat-label>
                    <input matInput  >
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>
                       
                        MOVEMENT
                        </mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of moment" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>
                       
                        CREDIT TERM
                        </mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of crdit" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="standard">
                    <mat-label>
                       
                        ZONE
                        </mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of zone" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
  

     
    
        <table mat-table [dataSource]="data" class="mat-elevation-z8 mt-top_shet">
    
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        

               

              
         <!-- ALERT -->
          <ng-container matColumnDef="ALERT">
            <th mat-header-cell *matHeaderCellDef>    ALERT
                 </th>
            <td mat-cell *matCellDef="let element"> {{element.ALERT}} </td>
          </ng-container>

              <!-- ORDER NO.-->
              <ng-container matColumnDef="ORDERNO">
                <th mat-header-cell *matHeaderCellDef> ORDER NO. </th>
                <td mat-cell *matCellDef="let element"> {{element.ORDERNO}} </td>
              </ng-container>

                 <!-- ORDER DATE-->
                 <ng-container matColumnDef="ORDERDATE">
                    <th mat-header-cell *matHeaderCellDef> ORDER DATE </th>
                    <td mat-cell *matCellDef="let element"> {{element.ORDERDATE}} </td>
                  </ng-container>

                      <!--JOB-->
                 <ng-container matColumnDef="JOB">
                    <th mat-header-cell *matHeaderCellDef>JOB </th>
                    <td mat-cell *matCellDef="let element"> {{element.JOB}} </td>
                  </ng-container>

                      <!--SHP-->
                 <ng-container matColumnDef="SHP">
                    <th mat-header-cell *matHeaderCellDef>SHP </th>
                    <td mat-cell *matCellDef="let element"> {{element.SHP}} </td>
                  </ng-container>

                      <!--JOB CATEGORY-->
                 <ng-container matColumnDef="JOBCATEGORY">
                    <th mat-header-cell *matHeaderCellDef>JOB CATEGORY</th>
                    <td mat-cell *matCellDef="let element"> {{element.JOBCATEGORY}} </td>
                  </ng-container>

                     <!--TRANSPORT TYPE-->
                 <ng-container matColumnDef="TRANSPORTTYPE">
                    <th mat-header-cell *matHeaderCellDef>TRANSPORT TYPE </th>
                    <td mat-cell *matCellDef="let element"> {{element.TRANSPORTTYPE}} </td>
                  </ng-container>

                      <!--CUSTOMER NAME-->
                 <ng-container matColumnDef="CUSTOMERNAME">
                    <th mat-header-cell *matHeaderCellDef>CUSTOMER NAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.CUSTOMERNAME}} </td>
                  </ng-container>

                    <!--PICKUP FROM-->
                 <ng-container matColumnDef="PICKUPFROM">
                    <th mat-header-cell *matHeaderCellDef>PICKUP FROM </th>
                    <td mat-cell *matCellDef="let element"> {{element.PICKUPFROM}} </td>
                  </ng-container>

                     <!--DELIVER TO-->
                 <ng-container matColumnDef="DELIVERTO">
                    <th mat-header-cell *matHeaderCellDef>DELIVER TO </th>
                    <td mat-cell *matCellDef="let element"> {{element.DELIVERTO}} </td>
                  </ng-container>

                    <!--ZONE-->
                 <ng-container matColumnDef="ZONE">
                    <th mat-header-cell *matHeaderCellDef>ZONE </th>
                    <td mat-cell *matCellDef="let element"> {{element.ZONE}} </td>
                  </ng-container>

                   <!--AREA NAME-->
                 <ng-container matColumnDef="AREANAME">
                    <th mat-header-cell *matHeaderCellDef>AREA NAME</th>
                    <td mat-cell *matCellDef="let element"> {{element.AREANAME}} </td>
                  </ng-container>

                      

   
        
      
          
        
          <tr mat-header-row *matHeaderRowDef="col"></tr>
          <tr mat-row *matRowDef="let row; columns: col;"></tr>
          
        </table>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-top_shet">
    
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        

               

              
         <!-- CONTAINER NO -->
          <ng-container matColumnDef="CONTAINERNO">
            <th mat-header-cell *matHeaderCellDef>    CONTAINER NO
                 </th>
            <td mat-cell *matCellDef="let element"> {{element.CONTAINERNO}} </td>
          </ng-container>

              <!-- SIZE-->
              <ng-container matColumnDef="SIZE">
                <th mat-header-cell *matHeaderCellDef>SIZE </th>
                <td mat-cell *matCellDef="let element"> {{element.SIZE}} </td>
              </ng-container>

                 <!-- PACKAGE-->
                 <ng-container matColumnDef="PACKAGE">
                    <th mat-header-cell *matHeaderCellDef>PACKAGE </th>
                    <td mat-cell *matCellDef="let element"> {{element.PACKAGE}} </td>
                  </ng-container>

                      <!--CODE-->
                 <ng-container matColumnDef="CODE">
                    <th mat-header-cell *matHeaderCellDef>CODE </th>
                    <td mat-cell *matCellDef="let element"> {{element.CODE}} </td>
                  </ng-container>

                      <!--DESCRIPTION-->
                 <ng-container matColumnDef="DESCRIPTION">
                    <th mat-header-cell *matHeaderCellDef>DESCRIPTION </th>
                    <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
                  </ng-container>

                      <!--UNIT-->
                 <ng-container matColumnDef="UNIT">
                    <th mat-header-cell *matHeaderCellDef>UNIT</th>
                    <td mat-cell *matCellDef="let element"> {{element.UNIT}} </td>
                  </ng-container>

                     <!--QUANTITY-->
                 <ng-container matColumnDef="QUANTITY">
                    <th mat-header-cell *matHeaderCellDef>QUANTITY </th>
                    <td mat-cell *matCellDef="let element"> {{element.QUANTITY}} </td>
                  </ng-container>

                      <!--PRICE-->
                 <ng-container matColumnDef="PRICE">
                    <th mat-header-cell *matHeaderCellDef>PRICE </th>
                    <td mat-cell *matCellDef="let element"> {{element.PRICE}} </td>
                  </ng-container>

                    <!--EST SELL-->
                 <ng-container matColumnDef="ESTSELL">
                    <th mat-header-cell *matHeaderCellDef>EST SELL </th>
                    <td mat-cell *matCellDef="let element"> {{element.ESTSELL}} </td>
                  </ng-container>

                     <!--ACT SELL-->
                 <ng-container matColumnDef="ACTSELL">
                    <th mat-header-cell *matHeaderCellDef>ACT SELL </th>
                    <td mat-cell *matCellDef="let element"> {{element.ACTSELL}} </td>
                  </ng-container>

                    <!--BALANCE-->
                 <ng-container matColumnDef="BALANCE">
                    <th mat-header-cell *matHeaderCellDef>BALANCE </th>
                    <td mat-cell *matCellDef="let element"> {{element.BALANCE}} </td>
                  </ng-container>

                   <!--INT-->
                 <ng-container matColumnDef="INT">
                    <th mat-header-cell *matHeaderCellDef>INT</th>
                    <td mat-cell *matCellDef="let element"> {{element.INT}} </td>
                  </ng-container>



                   <!--ZONE-->
                 <ng-container matColumnDef="ZONE">
                    <th mat-header-cell *matHeaderCellDef>ZONE</th>
                    <td mat-cell *matCellDef="let element"> {{element.ZONE}} </td>
                  </ng-container>

                   <!--AREA NAME-->
                 <ng-container matColumnDef="AREANAME">
                    <th mat-header-cell *matHeaderCellDef>AREA NAME</th>
                    <td mat-cell *matCellDef="let element"> {{element.AREANAME}} </td>
                  </ng-container>

                   <!--CONTAINER REF-->
                 <ng-container matColumnDef="CONTAINERREF">
                    <th mat-header-cell *matHeaderCellDef>CONTAINER REF</th>
                    <td mat-cell *matCellDef="let element"> {{element.CONTAINERREF}} </td>
                  </ng-container>

                      

   
        
      
          
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>



        
      </mat-card-content>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
</mat-paginator>
    </mat-card>
  
    </div>
    </div>
    </div>
    </section>
    
    
    
    

       