
<app-navbar></app-navbar>

<section class="bodysection">
<div class="container-fluid ">

   
    <div class="row">
        <div class="col-sm-12">
            <!-- Page Header -->
            <div class="page-header_head">
                <div>
                  
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:;">Terminal</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Job Card</li>
                    </ol>
                </div>

            </div>
            <!-- End Page Header -->

            <!--Row-->
            <div class="row row-sm">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin">
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0  titleheadercard">
                            <div class="d-flex justify-content-between">
                                <label class="main-content-label">Job Card</label>                               
                                <div class="ml-auto  ">
                                    <button type="button" class="btn btn-sm card-contorls mr-1">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm card-contorls mr-1">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button class="btn btn-sm card-contorls" href="javascript:;" role="button"
                                        (click)="toggle()">
                                        <i class="fa fa-filter "></i> </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-lg-12">
                            <div class="card custom-card m-0">
                                <div class="card-body p-0">
                                       <div>
                                        <div class="mg-t-5" id="collapseExample" *ngIf="isCollapsed">                                                                                        
                                            <div class="card card-body"> 
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modal-basic-title"> <b>VESSEL SCHEDULE/JOB CARD ADVANCE SEARCH</b></h5>
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>                                                
                                            </div>                                                                                                                                                                                         
                                                <div class="container-fluid">                                                                                                        
                                                    <!-- ??Added  to close the Search/Filter Popup -->                                                                                                                                                    
                                                    <br>
                                                    <div class="row">                                                        
                                                        <div class="col-sm-5">
                                                            <label for=""></label>
                                                            <div class="input-group">
                                                                <input class="form-control"
                                                                    placeholder="TRANSACTION NO" type="text">
                                                                <span class="input-group-btn"><button
                                                                        class="btn ripple btn-primary" type="button">
                                                                        <span class="input-group-btn"><i
                                                                                class="fa fa-search"></i></span></button></span>
                                                            </div>
                                                        </div> 
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="">Date From</label>
                                                                <input type="date" placeholder="DD/MM/YYYY" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="">Date To</label>
                                                                <input type="date" placeholder="DD/MM/YYYY" class="form-control">
                                                            </div>
                                                        </div>                
                                                    </div>                                                                                                                                                      
                                                    <div class="row">
                                                        <div class="col-sm-8"></div>
                                                        <div class="col-sm-4 text-right">
                                                            <button type="button" class="btn btn-sm collaps-contorls-sear mr-1 ml-1">
                                                                SEARCH
                                                            </button>
                                                            <button type="button" class="btn btn-sm collaps-contorls-sear mr-1 ml-1">
                                                                RESET
                                                            </button>                                                            
                                                        </div>                                                                                                          
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive border userlist-table">
                            <ngx-datatable 
                            class="material"
                            [rows]="dsSearchResult"
                            [rowHeight]="50"
                            columnMode="force"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [scrollbarV]="true"
                            [scrollbarH]="false"
                            [summaryRow]="true"
                            [summaryPosition]="'bottom'"
                            >
                            <ngx-datatable-column name="TRANSACTION NO." [width]="50"></ngx-datatable-column>
                            <ngx-datatable-column name="TRANSACTION DATE" [width]="50"></ngx-datatable-column>
                            <ngx-datatable-column name="START DATE" [width]="50"></ngx-datatable-column>
                            <ngx-datatable-column name="END DATE" [width]="50"></ngx-datatable-column>
                            <ngx-datatable-column name="STATUS" [width]="50"></ngx-datatable-column>                            
                            <ngx-datatable-column name="ACTION" [width]='100'>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <!--               
                                  <button mat-icon-button color="primary" (click)="Edit(row)" type="button">
                                 
                                  </button> -->
                                  <a href="javascript:;" class="btn btn-sm btn-primary mr-1">
                                    <i class="fe fe-search"></i>
                                </a>
                                  <a href="javascript:;" class="btn btn-sm btn-info mr-1">
                                    <i class="fe fe-edit-2"></i>
                                </a>
                                  <!-- <button mat-icon-button color="warn" (click)="Delete(row)" type="button">
                                    <mat-icon>delete</mat-icon>
                                  </button> -->
                                  <a href="javascript:;" class="btn btn-sm btn-danger">
                                    <i class="fe fe-trash"></i>
                                </a>
                                </ng-template>
                              </ngx-datatable-column>
                        </ngx-datatable>
                        </div>

                    




                    </div>

                </div><!-- COL END -->
            </div>
            <!-- row closed  -->
        </div>
    </div>
</div>
</section>