

    
        
<mat-card>
    <mat-card-header>
      <mat-card-title>
        Role
        
    
      </mat-card-title>
       
    </mat-card-header>
    <mat-card-content>
  
     
<div class="row">
    <div class="col-md-6">
        <mat-form-field  appearance="standard">
            <mat-label>ROLE CODE</mat-label>
            <input matInput  >
          </mat-form-field>
        
    </div>
    <div class="col-md-6">
        <mat-form-field  appearance="standard">
            <mat-label>
                ROLE DESCRIPTION
                </mat-label>
            <input matInput  >
          </mat-form-field>
    </div>
    
</div>
<div class="row">
    <div class="col" align="right">
        <span class=""> 
            <button mat-raised-button color="primary" class="rfesh"  > <mat-icon>save</mat-icon> </button>
            <button mat-raised-button color="primary" class="rfesh"  > <mat-icon>close</mat-icon> </button>
          
         </span>   

    </div>
</div>


      
    </mat-card-content>
 
  </mat-card>

