.chassis{
background-color:lightgray;

}
.mat-form-field{
    width: 100%;
}

.chassis_txt{
    padding-top: 12px;
    padding-left: 12px;
}
.chassis_contnt{
    padding-left: 14px;
    padding-right: 14px;
}
.rfesh{
    margin-right: 5px;

  }
  .btnCol{
      background-color: lightskyblue;
      color: white;
  }