table {
    width: 100%;
    box-shadow: 0px 0px 0px;
  }
  .rgt-icns{
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 10px;
    padding-right: 10px;
    
  }
  .rfesh{
    margin-right: 5px;
  }
