
<div class="row">
    <div class="col-md-6">
        <h1>Address</h1>
    </div>
    <div class="col-md-6">
    <button mat-button class="rgt-icns" mat-dialog-close>X</button>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>ADDRESS</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-slide-toggle>BILLING</mat-slide-toggle>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>ADDRESS2</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-slide-toggle>ACTIVE</mat-slide-toggle>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>POST CODE</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-slide-toggle>OPERATION</mat-slide-toggle><br>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>STATE</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-slide-toggle>PICKUP/DELIVERY</mat-slide-toggle><br>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>COUNTRY</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>EDI MAPPING</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>TEL NO.</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>FAX NO.</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>MOBILE NO.</mat-label>
            <input type="number" name="" id="" matInput>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>EMAIL</mat-label>
            <input type="email" name="" id="" matInput>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <mat-label>WEBSITE</mat-label>
            <input type="text" name="" id="" matInput>
        </mat-form-field>
    </div>
</div>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary" ><mat-icon>save</mat-icon></button>
    <button mat-button mat-dialog-close>X</button>
  </mat-dialog-actions>
