
<section class="bodysection">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12">
  
  <div class="page-header_head">
    <div>
  
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item " ><a href="javascript:;">Freight</a></li>
            <li class="breadcrumb-item " ><a [routerLink]="['/freight/companyProfile']" routerLinkActive="router-link-active">Company-profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Comapny-branch</li>
        </ol>
    </div>
  
  </div>
  
  <mat-card class="main">
      <mat-card-header>
        <mat-card-title>
            Other Profiles</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-card class="left">
              <mat-card-header>

                  <mat-card-title>Companies</mat-card-title>

                 
                

              </mat-card-header>
              <div class="row">
                <div class="col">
               

                <h1 class="asrc" (click)="openDialog()"> + A S R C</h1>

                </div>
                
            </div>
          </mat-card>
         <mat-card class="right">
            <mat-card-header>
                <mat-card-title>Branch Details  Company Code [1017]
                
                        
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        
                        <mat-form-field  appearance="standard">
                            <mat-label>BRANCH CODE</mat-label>
                            <input type="text" matInput  >
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      
                       
                    </div>
        
                </div>
                <div class="row">
                    <div class="col">
                        
                        <mat-form-field  appearance="standard">
                            <mat-label>BRANCH NAME</mat-label>
                            <input type="text" matInput>
                          </mat-form-field>
                      
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field  appearance="standard">
                            <mat-label>REGISTRATION NO.</mat-label>
                            <input type="text" matInput  >
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field  appearance="standard">
                            <mat-label>CUSTOMS MAIL BOX NO.</mat-label>
                            <input type="text" matInput  >
                          </mat-form-field>
                    </div>
                </div>
                
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>AGENT CODE</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>DEGANG NET A/C NO</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>GST NO.</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>TAX ID</mat-label>
                    <input type="text" matInput >
                  </mat-form-field>
            </div>
        </div>

        <!-- sat -->
        <div class="row">
            <div class="col">
                <mat-form-field  appearance="standard">
                    <mat-label>ADDRESS</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
        <div class="col">
                <mat-form-field  appearance="standard">
                    <mat-label>ADDRESS2</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>POST CODE</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>CITY/SUBURB</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
        <div class="col">
            <mat-form-field  appearance="standard">
                <mat-label>STATE</mat-label>
                <input type="text" matInput  >
              </mat-form-field>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
               
                  <mat-form-field appearance="standard">
                    <mat-label>COUNTRY</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of country" [value]="item.value">
                        {{item.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>TEL NO.</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>FAX NO.</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field  appearance="standard">
                    <mat-label>MOBILE NO.</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field  appearance="standard">
                    <mat-label>EMAIL</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field  appearance="standard">
                    <mat-label>WEBSITE</mat-label>
                    <input type="text" matInput  >
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary">UPLOAD COMPANY LOGO</button>
            </div>
        </div>
            </mat-card-content>
            <mat-card-actions >
                <button mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
                <button mat-raised-button color="warn"><mat-icon>clear</mat-icon></button>
              </mat-card-actions>
         </mat-card>
          </mat-card-content>
  </mat-card>
</div>
</div>
</div>
</section>

