
<section class="bodysection">
  <div class="container-fluid ">
      <div class="row">
          <div class="col-sm-12">

<div class="page-header_head">
  <div>

      <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
          <li class="breadcrumb-item " ><a href="javascript:;">Freight</a></li>
          <li class="breadcrumb-item active" aria-current="page">container monitoring</li>
      </ol>
  </div>

</div>

<mat-card>
    <mat-card-header>
      <mat-card-title>
        Container Monitoring
        
       <span class="rgt-icns"> <button mat-raised-button color="warn" class="rfesh" > <mat-icon>cached</mat-icon> </button>
        <button mat-raised-button color="accent"> <mat-icon>exit_to_app</mat-icon> </button></span>
    
      </mat-card-title>
       
    </mat-card-header>
    <mat-card-content>
  
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- REQUEST NO.-->
        <ng-container matColumnDef="REQUESTNO">
          <th mat-header-cell *matHeaderCellDef> REQUEST NO. </th>
          <td mat-cell *matCellDef="let element"> {{element.REQUESTNO}} </td>
        </ng-container>
      
        <!-- ROT NO. -->
        <ng-container matColumnDef="ROTNO">
          <th mat-header-cell *matHeaderCellDef> ROT NO. </th>
          <td mat-cell *matCellDef="let element"> {{element.ROTNO}} </td>
        </ng-container>
      
        <!-- ORDER NO. -->
        <ng-container matColumnDef="ORDERNO">
          <th mat-header-cell *matHeaderCellDef> ORDER NO. </th>
          <td mat-cell *matCellDef="let element"> {{element.ORDERNO}} </td>
        </ng-container>
      
        <!-- CONTAINER NO. -->
        <ng-container matColumnDef="CONTAINERNO">
          <th mat-header-cell *matHeaderCellDef> CONTAINER NO. </th>
          <td mat-cell *matCellDef="let element"> {{element.CONTAINERNO}} </td>
        </ng-container>
      
      <!-- 	SEAL NO. -->
        <ng-container matColumnDef="SEALNO">
          <th mat-header-cell *matHeaderCellDef> 	SEAL NO. </th>
          <td mat-cell *matCellDef="let element"> {{element.SEALNO}} </td>
        </ng-container>
      
      <!-- TYPE SIZE -->
        <ng-container matColumnDef="TYPESIZE">
          <th mat-header-cell *matHeaderCellDef> TYPE SIZE </th>
          <td mat-cell *matCellDef="let element"> {{element.TYPESIZE}} </td>
        </ng-container>
      
        <!-- 	TRAILER -->
        <ng-container matColumnDef="TRAILER">
          <th mat-header-cell *matHeaderCellDef> 	TRAILER </th>
          <td mat-cell *matCellDef="let element"> {{element.TRAILER}} </td>
        </ng-container>
      
      
        <!-- HAULIERNAME -->
        <ng-container matColumnDef="HAULIERNAME">
          <th mat-header-cell *matHeaderCellDef>HAULIER NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.HAULIERNAME}} </td>
        </ng-container>
      
        <!-- REQ DATE & TIME -->
        <ng-container matColumnDef="REQDATETIME">
          <th mat-header-cell *matHeaderCellDef> REQ DATE & TIME </th>
          <td mat-cell *matCellDef="let element"> {{element.REQDATETIME}} </td>
        </ng-container>
      
          <!-- CUSTOMER -->
          <ng-container matColumnDef="CUSTOMER">
            <th mat-header-cell *matHeaderCellDef> CUSTOMER</th>
            <td mat-cell *matCellDef="let element"> {{element.CUSTOMER}} </td>
          </ng-container>
      
          
            <!-- 	SHIPPER/CONSIGNEE -->
        <ng-container matColumnDef="SHIPPER">
          <th mat-header-cell *matHeaderCellDef>	SHIPPER/CONSIGNEE </th>
          <td mat-cell *matCellDef="let element"> {{element.SHIPPER}} </td>
        </ng-container>
      
        
      
        <tr mat-header-row *matHeaderRowDef="col"></tr>
        <tr mat-row *matRowDef="let row; columns: col;"></tr>
        
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
</mat-paginator>
    </mat-card-content>
  
  </mat-card>












  

  </div>
  </div>
  </div>
  </section>
  
  
  
  