<div class="row">
    <div class="col">
        <h1 mat-dialog-title> Standard Quotation Details</h1>
    </div>
    <div class="col" align="right">
        <button mat-button mat-dialog-close>X</button>
    </div>
</div>
<div mat-dialog-content>
<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>CHARGE CODE</mat-label>
            <input type="text" matInput  >
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>MODULE</mat-label>
            <mat-select name="food">
              <mat-option value="MODULE">
                MODULE
            </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
    <div class="col-md-4">
       
        <mat-checkbox class="example-margin">SLAB-RATE</mat-checkbox>
    
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>OUTPUT GST CODE</mat-label>
            <input type="text" matInput  >
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>CHANGE METHOD</mat-label>
            <mat-select name="food">
              <mat-option value="MODULE">
                MODULE
            </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
    <div class="col-md-4">
       <div class="row">
           <div class="col-md-6">
            <mat-form-field  appearance="standard">
                <mat-label>FROM RANGE</mat-label>
                <input type="text" matInput  >
              </mat-form-field>
             
           </div>
           <div class="col-md-6">
            <mat-form-field  appearance="standard">
                <mat-label>TO RANGE</mat-label>
                <input type="text" matInput  >
              </mat-form-field>
           </div>
       </div>
        
    </div>
   

</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>INPUT GST CODE</mat-label>
            <input type="text" matInput  >
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>SHIPMENT TYPE</mat-label>
            <mat-select >
              <mat-option value="MODULE">
                MODULE
            </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
    <div class="col-md-4">
       <div class="row">
           <div class="col-md-6">
            <mat-form-field  appearance="standard">
                <mat-label>BASE AMMOUNT</mat-label>
                <input type="text" matInput  >
              </mat-form-field>
             
           </div>
           <div class="col-md-6">
            <mat-form-field  appearance="standard">
                <mat-label>BASE ENQUIRY</mat-label>
                <input type="text" matInput  >
              </mat-form-field>
           </div>
       </div>
        
    </div>
   

</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>TRANSPORT TYPE</mat-label>
            <mat-select >
                <mat-option value="MODULE">
                  MODULE
              </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>JOB TYPE</mat-label>
            <mat-select >
              <mat-option value="MODULE">
                MODULE
            </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
    <div class="col-md-4">
       <div class="row">
           <div class="col-md-6">
            <mat-form-field  appearance="standard">
                <mat-label>MIN AMMOUNT</mat-label>
                <input type="text" matInput  >
              </mat-form-field>
             
           </div>
           <div class="col-md-6">
            <mat-form-field  appearance="standard">
                <mat-label>MAX AMOUNT</mat-label>
                <input type="text" matInput  >
              </mat-form-field>
           </div>
       </div>
        
    </div>
   

</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>ORDER CATEGORY</mat-label>
            <mat-select >
                <mat-option value="MODULE">
                  MODULE
              </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>SPECIAL HANDLING</mat-label>
            <mat-select >
              <mat-option value="MODULE">
                MODULE
            </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>EST CURRENCY</mat-label>
            <mat-select >
              <mat-option value="MODULE">
                MODULE
            </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
  
   

</div>
<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>EST COST</mat-label>
            <input type="text" matInput  >
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>CARGO TYPE</mat-label>
            <mat-select >
                <mat-option value="MODULE">
                  MODULE
              </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>SELLING CURRENCY</mat-label>
            <mat-select >
                <mat-option value="MODULE">
                  MODULE
              </mat-option>
              </mat-select>

          </mat-form-field>
    </div>
    
 
   

</div>
<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>SELL RATE</mat-label>
            <input type="text" matInput  >
          </mat-form-field>
    </div>

    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>BILLING UNIT</mat-label>
            <mat-select >
                <mat-option value="MODULE">
                  MODULE
              </mat-option>
              </mat-select>

          </mat-form-field>

    </div>

    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>SIZE</mat-label>
            <mat-select >
                <mat-option value="MODULE">
                  MODULE
              </mat-option>
              </mat-select>

          </mat-form-field>
    </div>  
   
  
    </div>
<div class="row">
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>TYPE</mat-label>
             <mat-select >
                <mat-option value="20">
                 20
              </mat-option>
              </mat-select>
          </mat-form-field>

    </div>
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>TRAILER TYPE</mat-label>
             <mat-select >
                <mat-option value="20">
                 20
              </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field  appearance="standard">
            <mat-label>CARGO HANDLING</mat-label>
             <mat-select >
                <mat-option value="20">
                 20
              </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field>
            <mat-label>REMARKS</mat-label>
            <input type="text" matInput> 
        </mat-form-field>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary"><mat-icon>save</mat-icon></button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial> X </button>
  </mat-dialog-actions>
</div>
