
<section class="bodysection">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12">
  
  <div class="page-header_head">
    <div>
  
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item " ><a href="javascript:;">Freight</a></li>
            <li class="breadcrumb-item active" aria-current="page">standard quotation list</li>
        </ol>
    </div>
  
  </div>
  
  <mat-card>
      <mat-card-header>
        <mat-card-title>
          Standard Quotation List
          
           <span class="rgt-icns"> 
               <button mat-raised-button color="primary" class="rfesh" (click)="openDialog()" > <mat-icon>add</mat-icon> </button>
            </span>   

      
        </mat-card-title>
         
      </mat-card-header>
      <mat-card-content>
    
        <table mat-table [dataSource]="data" class="mat-elevation-z8">
    
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
         <!-- ACTION -->
          <ng-container matColumnDef="ACTION">
            <th mat-header-cell *matHeaderCellDef>    ACTION
                 </th>
            <td mat-cell *matCellDef="let element"> {{element.ACTION}} </td>
          </ng-container>

          <!-- QUOTATION NO.-->
          <ng-container matColumnDef="QUOTATIONNO">
            <th mat-header-cell *matHeaderCellDef> QUOTATION NO. </th>
            <td mat-cell *matCellDef="let element"> {{element.QUOTATIONNO}} </td>
          </ng-container>
        
      
        
          <!-- QUOTED DATE -->
          <ng-container matColumnDef="QUOTEDDATE">
            <th mat-header-cell *matHeaderCellDef> QUOTED DATE </th>
            <td mat-cell *matCellDef="let element"> {{element.QUOTEDDATE}} </td>
          </ng-container>
        
          <!-- EFFECTIVE -->
          <ng-container matColumnDef="EFFECTIVE">
            <th mat-header-cell *matHeaderCellDef>EFFECTIVE </th>
            <td mat-cell *matCellDef="let element"> {{element.EFFECTIVE}} </td>
          </ng-container>
        
        <!-- 	EXPIRY -->
          <ng-container matColumnDef="EXPIRY">
            <th mat-header-cell *matHeaderCellDef> EXPIRY </th>
            <td mat-cell *matCellDef="let element"> {{element.EXPIRY}} </td>
          </ng-container>


        <!-- 	PREPARED BY -->
          <ng-container matColumnDef="PREPAREDBY">
            <th mat-header-cell *matHeaderCellDef>PREPARED BY </th>
            <td mat-cell *matCellDef="let element"> {{element.PREPAREDBY}} </td>
          </ng-container>

        <!-- 	APPROVED BY -->
          <ng-container matColumnDef="APPROVEDBY">
            <th mat-header-cell *matHeaderCellDef>APPROVED BY </th>
            <td mat-cell *matCellDef="let element"> {{element.APPROVEDBY}} </td>
          </ng-container>
        
        <!-- 	CANCELED BY -->
          <ng-container matColumnDef="CANCELEDBY">
            <th mat-header-cell *matHeaderCellDef>CANCELED BY </th>
            <td mat-cell *matCellDef="let element"> {{element.CANCELEDBY}} </td>
          </ng-container>
        
       
          
        
          <tr mat-header-row *matHeaderRowDef="col"></tr>
          <tr mat-row *matRowDef="let row; columns: col;"></tr>
          
        </table>
        
      </mat-card-content>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
</mat-paginator>
    </mat-card>
  
    </div>
    </div>
    </div>
    </section>
    
    
    
    

       