<h1 mat-dialog-title>Vessel Details</h1>
<form [formGroup]="vesselDetails">
        <div class="row">
            <div class="col-md-4">
                
                <mat-form-field  appearance="standard">
                    <mat-label>
                        VESSEL ID</mat-label>
                    <input type="text" formControlName="VESSELID" matInput  >
                  </mat-form-field>
                
              
                
            </div>
            <div class="col-md-4">
              
                <mat-form-field  appearance="standard">
                    <mat-label>VESSEL NAME</mat-label>
                    <input type="text" formControlName="VESSELNAME" matInput  >
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                
                <mat-form-field appearance="standard">
                    <mat-label>
                        VESSEL TYPE
                        </mat-label>
                    <mat-select formControlName="VESSELTYPE">
                      <mat-option  *ngFor="let item of filtered" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              
                
            </div>
        </div>

      

        <div class="row">
            
            <div class="col-md-4">
              
                <mat-form-field  appearance="standard">
                    <mat-label>CALL SIGN NO</mat-label>
                    <input matInput type="text" formControlName="CALLSIGNNO">
                  </mat-form-field>
                  
            </div>
           
        </div>
    </form>
        <div class="row">
         
            <div class="col-md-12" align="right">
                <div class="btn_top">
                    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="fun1()"><mat-icon>save</mat-icon> </button>
                </div>
            </div>
          
        </div>

    